body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background: url("media/doodles.png");
}

.widget-bg-red {
	padding: 10px;
	margin: 10px;
	background-color: #F8333C;
	color: #2B9EB3;
}

.widget-bg {
	padding: 10px;
	color: #F8333C;
	background-color: #D6FFF6;
}

.map-pad {
	padding: 5px;
}

.clock-pad {
	padding-top: 35px;
	padding-left: 25px;
	padding-right: 25px;
}

.light-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.light-red {
	color: #F8333C;
}
.light-on {
	color: #FFBA08;
}
.light-off {
	color: #1A1423;
}

.light-box {
	background-color: #DBD5B5;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
