<!doctype html>
{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static '/landing/style.css' %}" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <title>
    {% block title %}
      Colin's Dashboard
    {% endblock title %}
  </title>
  {% block header %}{% endblock header %}
</head>
<body class="bg">
  {% block content %}{% endblock content %}
  {% block footer %}{% endblock footer %}
</body>
</html>
