{% include 'base.html' %}

{% block content %}
  <h1>Colin's Dashboard</h1>
  <ul style='list-style-type:none'>
  {% for campaign in campaigns %}
    <li>
      <h2>{{ campaign.name }}</h2>
      <table>
        <tr>
          <td>People in</br>Campaign</td>
          <td>People</br>Finished</td>
          <td>People</br>Active</td>
          <td>Delivered</td>
          <td>Opens</td>
          <td>Replies</td>
          <td>Bounces</td>
        </tr>
        <tr>
          <td>{{ campaign.peopleCount }}</td>
          <td>{{ campaign.peopleFinished }}</td>
          <td>{{ campaign.peopleActive }}</td>
          <td>{{ campaign.deliveriesCount }}</td>
          <td>{{ campaign.openCount }}</td>
          <td>{{ campaign.repliesCount }}</td>
          <td><td>{{ campaign.bouncesCount}}</td>
      </table>
    </li>
  {% endfor %}
  </ul>
  <h1>Buses</h1>
  {% for stop in buses %}
    <h2>{{ stop.StopName }}</h2>
    {% for predic in stop.Predictions %}
      <h2>{{ predic.DirectionText }}</h2>
      <h2>{{ predic.Minutes }}</h2>
      <h2>{{ predic.RouteID }}</h2>
    {% endfor %}
  {% endfor %}
<h1>Trains</h1>
  {% for station in trains %}
    <h2>{{ station.Trains.0.LocationName }}</h2>
    {% for guess in station.Trains %}
      <h3>{{ guess.Destination }}</h3>
      <h3>{{ guess.Line }}</h3>
      <h3>{{ guess.Min }}</h3>
    {% endfor %}
  {% endfor %}
{% endblock content %}
